<nav class="bg">
<!-- <img src="https://p1.hiclipart.com/preview/622/323/775/rhor-s-v4-part-8-play-logo.jpg" 
width="30" height="30"> -->
<span>
    <img src="assets/img/logo.svg" class="Logo">
</span>
<span aligment='right'>
    <img src="assets/img/ic-user.svg" class="ic_user">
    <p class="User-login">User Login</p>
</span>
<span aligment='right'>
    <img src="assets/img/ic-exit.svg" class="ic_exit">
    <p class="Log-off">Log off</p>
</span>
    <!-- <span class="navbar-brand mb-0 h1">VIDEO COURSE</span>
    <span>{{user.firstName}}</span> -->
</nav>
