.h-28-min {
    width: 49px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--cloudy-blue);
  }

.Mask {
    width: 86px;
    height: 24px;
    border-radius: 3px;
  }

.-Nov-2018 {
    width: 58px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--cloudy-blue);
  }

.Learn-about-where-yo {
    width: 801px;
    height: 77px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: var(--slate-grey);
  }

.Rectangle {
    width: 1110px;
    height: 163px;
    border-radius: 8px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: var(--white);
}

.Video-Course-1-Name {
    width: 263px;
    height: 30px;
    font-family: SourceSansPro;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--dark);
  }